@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* Базовые стили */

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
}

h1,
p {
  margin: 0;
  padding: 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Остальные стили */
.company {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  overflow-y: hidden;
}

.company__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 0 0 36%;
  max-width: 36%;
}

.company__container {
  padding-inline: clamp(16px, 4%, 64px);
  font-size: clamp(16px, 4vw, 84px);
  max-width: 100%;
  overflow: hidden;
}

.company__container--white {
  min-height: 66vh;
  padding-top: 125px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
}

.company__container--grey {
  height: 100%;
  background-color: #828282;
  padding-top: 95px;
  padding-bottom: 48px;
}

.company__descr {
  font-weight: 300;
  font-size: 0.3em;
  color: #f2f2f2;
  text-align: center;
}

.company__title {
  font-weight: 600;
  font-size: 1em;
  line-height: 110%;
  text-transform: uppercase;
  text-align: center;
}

.social-list {
  display: flex;
  gap: 24px;
}

.social-list__icon {
  display: block;
  width: clamp(16px, 2.3vw, 40px);
  height: clamp(16px, 2.3vw, 40px);
}

.company__gallery {
  display: grid;
  width: 100%;
  max-width: 64%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 40vh 26vh 34vh;
  grid-template-areas:
    "girl-green girl-green girl-blue girl-white"
    "girl-green girl-green door square-red"
    "coffee square-brown door boy";
}

.company__gallery-item--portrait {
  grid-area: girl-green;
}

.company__gallery-item--smile {
  grid-area: girl-blue;
}

.company__gallery-item--calm {
  grid-area: girl-white;
}

.company__gallery-item--coffee {
  grid-area: coffee;
}

.company__gallery-item--brown {
  grid-area: square-brown;
  background-color: #a6806b;
}

.company__gallery-item--door {
  grid-area: door;
}

.company__gallery-item--red {
  grid-area: square-red;
  background-color: #a61c1c;
}

.company__gallery-item--man {
  grid-area: boy;
}

.company__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Медиа запросы */
@media (max-width: 1200px) {
  .company__title {
    text-align: center;
  }

  .company__descr {
    font-size: 0.5em;
  }

  .company__gallery {
    grid-template-columns: 1fr repeat(2, 15vw) 1fr;
    grid-template-rows: 42vh 28vh 11vh 32vh;
    grid-template-areas:
      "girl-green girl-green girl-blue girl-blue"
      "coffee girl-white girl-white square-brown"
      "square-red square-red square-red square-red"
      "door door boy boy";
  }
}

@media (max-width: 1200px) and (orientation: landscape) {
  .company__descr {
    font-size: 0.35em;
  }

  .company__container--white {
    padding-top: 62px;
  }

  .company__container--grey {
    padding-top: 50px;
  }
}

@media (max-width: 768px) {
  .company__descr {
    font-size: 0.7em;
  }

  .company__gallery {
    grid-template-columns: repeat(2, 32vw);
    grid-template-rows: 32vh 28vh 11vh 32vh;
    grid-template-areas:
      "girl-green girl-blue"
      "coffee girl-white"
      "square-red square-brown"
      "door boy";
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  .company__descr {
    font-size: 0.4em;
  }

  .company__container--white {
    padding-top: 40px;
  }

  .company__container--grey {
    padding-top: 40px;
    padding-bottom: unset;
  }

  .company__gallery {
    grid-template-columns: repeat(2, 32vw);
    grid-template-rows: 32vh 28vh 11vh 32vh;
    grid-template-areas:
      "girl-green girl-blue"
      "coffee girl-white"
      "square-red square-brown"
      "door boy";
  }
}

@media (max-width: 480px) {
  .company {
    flex-direction: column;
  }

  .company__info {
    max-width: 100%;
  }

  .company__container {
    font-size: 26px;
    padding-inline: 24px;
  }

  .company__descr {
    font-size: 0.6em;
  }

  .company__container--white {
    min-height: unset;
    padding-top: 40px;
    gap: 20px;
  }

  .company__container--grey {
    max-height: 160px;
    padding-top: 42px;
  }

  .company__gallery {
    grid-template-columns: repeat(2, 50vw);
    grid-template-rows: repeat(2, 24vh) 5vh 21vh;
    grid-template-areas:
      "girl-green girl-blue"
      "coffee girl-white"
      "square-red square-brown"
      "door boy";
  }
}
